.blog-small-preview {
  $imageHeight: 240px;
  $imageHeightSmall: 332px;
  $imageHeightExtraSmall: 180px;
  display: block;
  text-align: center;

  &__image {
    @include image-viewing();
    background-position: center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: $imageHeight;
    margin-bottom: 26px;

    @include media() {
      height: $imageHeightSmall;
    }

    @include mediaExtraSmall() {
      height: $imageHeightExtraSmall;
    }
  }

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;

    a {
      color: inherit;
    }
  }

  &__date {
    display: block;
    color: $colorGray;
    font-size: 12px;
    line-height: 24px;
  }
}