.blog-grid {
  $space: 86px;
  $padding: $space / 2;
  $block: nth(&, 1);

  &__title {
    @extend %title, %title--large, %title--underline, %title--align-center;
    margin-bottom: 66px;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    margin-left: -$padding;
    margin-right: -$padding;
    margin-bottom: 65px;

    @include media() {
      flex-direction: column;
    }
  }

  &__item {
    display: block;
    width: 1/3 * 100%;
    padding-left: $padding;
    padding-right: $padding;

    @include media() {
      width: 100%;
      margin-top: 26px;
    }

    
  }

  &__bottom {
    text-align: center;
  }

  &__button {
    @extend %button, %button--type-default, %button--width-large;
  }
}