.blog {
  $imageHeight: 679px;
  $imageHeightSmall: 333px;
  $imageHeightExtraSmall: 181px;
  @extend %container, %container--width-medium;
  padding-bottom: 165px;

  &__date {
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: $colorBlackExtraRich;
  }

  &__title {
    @extend %container, %container--width-smaller;
    display: block;
    margin-bottom: 17.50px;
    font-family: $fontFamilyHeading;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
  }

  &__share-top {
    margin-bottom: 52px;
  }

  &__image-group {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 68px;
  }

  &__image {
    @include image-not-viewed();
    background-position: center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: $imageHeight;

    &.viewed {
      @include image-viewed();
    }

    @include media() {
      height: $imageHeightSmall;
    }

    @include mediaExtraSmall() {
      height: $imageHeightExtraSmall;
    }
  }

  &__image-caption {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
  }

  &__text {
    margin-bottom: 88px;
    color: $colorBlackRich;
    
    p {
      @extend %container, %container--width-extra-small;
      margin-top: 24px;
      margin-bottom: 24px;

      &:first-of-type:first-letter {
        display: inline-block;
        float: left;
        margin-right: 11px;
        vertical-align: top;
        height: 48px;
        font-size: 45px;
        line-height: 48px;
        font-weight: 700;
      }
    }

    blockquote, q {
      font-family: $fontFamilyHeading;
      display: block;
      width: 100%;
      margin: 48px 0;
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      text-align: center;
    }

    h2, h3 {
      @extend %container, %container--width-extra-small;
      position: relative;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      padding-bottom: 10px;

      &:before {
        background-color: $colorBlack;
        position: absolute;
        left: $containerPaddingExtraSmall;
        bottom: 0;
        display: block;
        width: 10px;
        height: 1px;
        content: '';
      }
    }
  }

  &__share-bottom {
    @extend %container, %container--width-extra-small;
  }
}