.blog-list {
  @extend %container;
  padding-top: 97px;
  padding-bottom: 100px;

  &__title {
    @extend %title, %title--large, %title--underline, %title--align-center;
    margin-top: 0;
    margin-bottom: 109px;
  }

  &__items {
    margin-bottom: 120px;
  }

  &__item {
    margin-bottom: 104px;
  }

  @include media {
  }
}