%button {
  transition: all .25s ease-in-out;
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 12px;

  &--type {

    &-default {
      background-color: $colorWhite;
      border-color: $colorGrayLight;
      letter-spacing: 1.2px;

      span {
        transition: all .25s ease-in-out;
        position: relative;
        z-index: 2;
        color: $colorBlack;
      }

      &:after {
        transition: all .25s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform-origin: left center;
        transform: scaleX(0);
        background-color: $colorBlack;
        display: block;
        content: '';
      }

      &:hover {

        span {
          color: $colorWhite;
        }

        &:after {
          transform: scaleX(1);
        }
      }

      &:active {

        span {
          color: $colorBlack;
        }

        &:after {
          background-color: transparent;
        }
      }
    }

    &-dark {
      border-color: $colorBlack;
      background-color: $colorBlack;

      &:after {
        transition: all .25s ease-in-out;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform-origin: left center;
        transform: scaleX(0);
        background-color: $colorWhite;
        display: block;
        content: '';
      }

      span {
        transition: all .25s ease-in-out;
        position: relative;
        z-index: 2;
        color: $colorWhite;
      }

      &:hover {

        span {
          color: $colorBlack;
        }

        &:after {
          transform: scaleX(1);
        }
      }

      &:active {

        span {
          color: $colorBlack;
        }

        &:after {
          background-color: transparent;
        }
      }
    }
  }

  &--width {
    
    &-large {
      width: 260px;
    }

    &-normal {
      width: 170px;
    }

    &-medium {
      width: 248px;
    }
  }
}