.course-preview {
  $block: nth(&, 1);
  $height: $coursePreviewHeight;
  $mainHeight: 498px;
  $asideWidth: 928px;
  $asideHeight: $height;
  position: relative;
  display: block;
  width: 100%;
  height: $height;

  &__aside {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: $asideWidth;
    height: $asideHeight;
  }

  &__image-wrapper {
    @extend %image-wrapper;

    span {
      background-position: right bottom;
      background-size: contain;
    }
  }

  &__image {
    background-color: $colorPink;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
  }

  &__main {
    background-color: $colorWhite;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 620px;
    height: $mainHeight;
    margin-top: -1/2 * $mainHeight !important;
    padding: 79px 70px;
  }

  &__subtitle {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 300;
  }

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: $fontFamilyHeading;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
  }

  &__text {
    display: block;
    margin-top: 0;
    margin-bottom: 56px;
  }

  &__link {
    @extend %button, %button--type-default, %button--width-normal;
  }

  &__numbers {
    background-color: $colorWhite;
    position: absolute;
    left: -77px;
    top: 0;
    display: flex;
    align-items: flex-start;
  }

  &__current,
  &__count {
    position: relative;
    color: $colorPink;
    font-weight: 900;
  }

  &__current {
    top: -158px;
    font-size: 402px;
  }

  &__count {
    top: 9px;
    font-size: 64px;

    &:before {
      content: '/ ';
    }
  }

  &--inverted {

    #{$block}__aside {
      right: auto;
      left: 0;
    }

    #{$block}__image {
      background-position: center left;
    }

    #{$block}__main {
      left: auto;
      right: 0;
    }
  }

  &.not-viewed {

    #{$block}__image-wrapper {
      @extend %image-wrapper--not-viewed;
    }
  }

  &.viewed {

    #{$block}__image-wrapper {
      @extend %image-wrapper--viewed;
    }

    &#{$block}--inverted #{$block}__image-wrapper {
      @extend %image-wrapper--viewed-inverted;
    }
  }

  @keyframes course-preview-image-after {
    0% {
      transform: translate(calc(100% - 20px), -100%);
    }
    25% {
      transform: translate(calc(100% - 20px), 0);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @include media {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &__aside {
      position: relative;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      display: block;
      width: 100%;
      height: 409px;
      order: 1;
    }

    &__main {
      position: static;
      order: 2;
      width: 100%;
      height: auto;
      margin: 0;
      margin-top: 24px !important;
      padding: 0;
    }

    &__image-wrapper span {
      background-position: center bottom !important;
    }

    &__numbers {
      display: none;
    }

    &__text {
      margin-bottom: 28px;
    }
  }
}