.course-lesson {
  $block: nth(&, 1);

  @at-root %course-lesson-title {
    display: block;
    width: 100%;
    max-width: 248px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @at-root %course-lesson-value {
    display: block;
    width: 100%;
    flex: 1 1 auto;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__header {
    border-bottom: 1px solid $colorBlack;
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 6.5px 37px 6.5px 0;
    cursor: pointer;

    &:before {
      transition: all .5s ease-in-out;
      transform: rotate(180deg);
      background-image: url('img/caret.png');
      position: absolute;
      right: 15px;
      top: 15.5px;
      display: block;
      width: 17px;
      height: 9px;
      content: '';
    }
  }

  &__title, &__price {
    font-size: 20px;
    font-weight: 700;
  }

  &__title {
    @extend %course-lesson-title;
  }

  &__price {
    @extend %course-lesson-value;
  }

  &__item {
    border-bottom: 1px solid $colorGrayLight;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__subtitle {
    @extend %course-lesson-title;
    font-size: 16px;
    font-weight: 600;
  }

  &__value {
    font-size: 16px;
  }

  &__footer {
    margin-top: 20px;
    text-align: right;
  }

  &__button {
    @extend %button, %button--type-default, %button--width-normal;
  }

  &.active {
    
    #{$block}__header:before {
      transform: rotate(0deg);
    }
  }
}