.course {
  
  &__content {
    @extend %container;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include media {

    .course-grid {
      flex-direction: column;
      height: auto !important;
      width: 100%;
      max-width: 514px;
      margin-left: auto;
      margin-right: auto;

      *[data-breaker] {
        display: none;
      }

      &__about {
        order: 1;
      }

      &__lessons {
        order: 2;
        margin-top: 62px !important;
      }

      &__sale {
        order: 3;
      }

      &__results {
        order: 4;
      }

      &__program {
        order: 5;
      }
    }
  }
}