.course-lead {
  $zindex: 1;
  $zindexAside: $zindex + 1;
  $zindexAsideEffect: $zindexAside + 1;
  $zindexMain: $zindexAsideEffect + 1;
  background-color: $colorPink;
  position: relative;
  z-index: $zindex;
  display: block;
  height: 580px;
  color: $colorBlackRich;
  overflow: hidden;

  &__effect {
    transition: all 1.5s ease-in-out;
    background-color: $colorPink;
    transform: translateX(0);
    position: absolute;
    z-index: $zindexAsideEffect;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;

    .viewed & {
      transform: translateX(100%);
    }
  }

  &__container {
    @extend %container;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__aside {
    background-position: right center;
    background-size: contain;
    position: absolute;
    z-index: $zindexAside;
    left: $containerPadding;
    right: $containerPadding;
    display: block;
    height: 100%;
  }

  &__main {
    position: relative;
    z-index: $zindexMain;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 784px;
    margin: 0 0 24px;
    font-family: $fontFamilyHeading;
    font-size: 46px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -.92px;
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 516px;
    margin: 0 0 40px;
    line-height: 32px;
  }

  &__actions {
    display: flex;
    width: 100%;
    max-width: 516px;
    justify-content: flex-start;
    align-items: center;
  }

  &__button {
    @extend %button, %button--type-default, %button--width-normal;
    background-color: transparent;
  }

  &__share {
    margin-left: 48px;
  }

  @include media {
    display: none;
  }
}