.courses-list {
  @extend %container;
  padding-top: 99px;
  padding-bottom: 191px;

  &__title {
    @extend %title, %title--large, %title--underline, %title--align-center;
    margin-bottom: 105px;
  }

  &__item {
    margin: 150px 0;
  }

  @include media {

    &__item {
      margin: 56px 0;
    }

    // .course-preview {
    //   display: flex;
    //   flex-direction: column;
    //   height: auto;
    //   width: 100%;
    //   max-width: 516px;
    //   margin-left: auto;
    //   margin-right: auto;
    //   text-align: center;

    //   &__aside {
    //     position: relative;
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     margin: 0;
    //     display: block;
    //     width: 100%;
    //     height: 409px;
    //     order: 1;
    //   }

    //   &__main {
    //     position: static;
    //     order: 2;
    //     width: 100%;
    //     height: auto;
    //     margin: 0;
    //     margin-top: 24px !important;
    //     padding: 0;
    //   }

    //   &__text {
    //     margin-bottom: 28px;
    //   }
    // }
  }

  // @include mediaCustom(502px) {

  //   .course-preview__aside {
  //     height: 204.5px;
  //   }
  // }
}