.course-preview {
  $block: nth(&, 1);
  $height: $coursePreviewHeight;
  $mainHeight: 498px;
  position: relative;
  display: block;
  width: 100%;
  height: $height;

  &__aside {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    display: block;
    width: 928px;
    height: $height;
    overflow: hidden;

    &:before, &:after {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }

    &:before {
      background-color: $colorGrayLight;
      z-index: 1;
    }

    &:after {
      background-color: $colorPink;
      z-index: 3;
    }
  }

  &__image {
    background-color: $colorPink;
    background-position: right bottom;
    background-size: contain;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  &__main {
    background-color: $colorWhite;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 50%;
    display: block;
    width: 620px;
    height: $mainHeight;
    margin-top: -1/2 * $mainHeight !important;
    padding: 79px 70px;
  }

  &__subtitle {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 300;
  }

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: $fontFamilyHeading;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
  }

  &__text {
    display: block;
    margin-top: 0;
    margin-bottom: 56px;
  }

  &__link {
    @extend %button, %button--type-default, %button--width-normal;
  }

  &--inverted {

    #{$block}__aside {
      right: auto;
      left: 0;
    }

    #{$block}__image {
      background-position: center left;
    }

    #{$block}__main {
      left: auto;
      right: 0;
    }
  }

  &.not-viewed {

    #{$block}__aside:after {
      transform: translate(calc(100% - 20px), -100%);
    }

    #{$block}__image {
      visibility: hidden;
    }
  }

  &.viewed {

    #{$block}__aside:after {
      animation: course-preview-aside-after 2s ease-in-out forwards;
    }

    &#{$block}--inverted #{$block}__aside:after {
      animation-name: course-preview-aside-after-inverted;
    }

    #{$block}__image {
      animation: course-preview-image 2s ease-in-out forwards;
    }
  }

  @keyframes course-preview-aside-after {
    0% {
      transform: translate(calc(100% - 20px), -100%);
    }
    25% {
      transform: translate(calc(100% - 20px), 0);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @keyframes course-preview-aside-after-inverted {
    0% {
      transform: translate(calc(-100% + 20px), -100%);
    }
    25% {
      transform: translate(calc(-100% + 20px), 0);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100%, 0);
    }
  }

  @keyframes course-preview-image {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}