.course-results {
  padding: 41px;

  &__title {
    display: block;
    margin: 0 0 30px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
  }

  &__item {
    background-position: left top;
    display: block;
    margin: 24px 0;
    padding-left: 62px;
  }

  &__subtitle {
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__value {
    display: block;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}