.course-lead-small {
  $zindex: 1;
  $zindexImage: $zindex + 1;
  $zindexEffect: $zindexImage + 1;
  padding-top: 50px;
  display: none;

  @include media {
    display: block;
  }

  &__title {
    @extend %container, %container--width-smaller;
    display: block;
    margin-bottom: 17.50px;
    font-family: $fontFamilyHeading;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;

    @include mediaExtraSmall() {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__share-top {
    margin-bottom: 52px;

    @include mediaExtraSmall() {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__image-group {
    $b: nth(&, 1);
    position: relative;
    z-index: $zindex;
    background-color: $colorPink;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 68px;
  }

  &__image {
    background-position: bottom center;
    background-size: contain;
    position: relative;
    z-index: $zindexImage;
    display: block;
    width: 100%;
    height: $coursePreviewImageHeightSmall;

    @include mediaExtraSmall() {
      height: $coursePreviewImageHeightExtraSmall;
    }
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 516px;
    margin: 0 auto 40px;
    text-align: center;
    line-height: 32px;

    @include mediaExtraSmall() {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}