.course-lesson {
  $block: nth(&, 1);

  @at-root %course-lesson-title {
    display: block;
    width: 100%;
    max-width: 248px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @at-root %course-lesson-value {
    display: block;
    width: 100%;
    flex: 1 1 auto;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__header {
    border-bottom: 1px solid $colorBlack;
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 6.5px 37px 6.5px 0;
    cursor: pointer;

    &:before {
      transition: all .5s ease-in-out;
      transform: rotate(180deg);
      background-image: url('img/caret.png');
      position: absolute;
      right: 15px;
      top: 15.5px;
      display: block;
      width: 17px;
      height: 9px;
      content: '';
    }
  }

  &__title, &__price {
    font-size: 20px;
    font-weight: 700;
  }

  &__title {
    @extend %course-lesson-title;
  }

  &__price {
    @extend %course-lesson-value;

    &-text {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__item {
    border-bottom: 1px solid $colorGrayLight;
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__subtitle {
    @extend %course-lesson-title;
    font-size: 16px;
    font-weight: 600;
  }

  &__value {
    font-size: 16px;
  }

  &__footer {
    margin-top: 20px;
    text-align: right;
  }

  &__button {
    @extend %button, %button--type-default, %button--width-normal;
  }

  &__popup {
    $b: nth(&, 1);
    $boxIndex: 100;
    $contentIndex: $boxIndex + 1;
    $caretIndex: $contentIndex + 1;
    $signSize: 16px;
    $boxOffset: $signSize;
    $contentOffset: 13px;
    $caretSize: 9px;
    $caretOffset: -($contentOffset + $caretSize / 2);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    cursor: help;

    &:before {
      background-color: $colorBlack;
      border-radius: 50%;
      display: block;
      width: $signSize;
      height: $signSize;
      line-height: $signSize;
      text-align: center;
      font-size: 11px;
      font-weight: 700;
      color: $colorWhite;
      content: '?';
    }

    &:after {
      transition: all .25s ease-in-out;
      visibility: hidden;
      opacity: 0;
      transform: rotate(45deg);
      background-color: $colorWhite;
      border: 1px solid #e0e0e0;
      border-left-color: transparent;
      border-top-color: transparent;
      position: absolute;
      z-index: $caretIndex;
      top: $caretOffset;
      left: 50%;
      top: $caretOffset;
      display: block;
      width: $caretSize;
      height: $caretSize;
      margin-left: -($caretSize / 2);
      content: '';

      @at-root #{$b}:hover:after {
        opacity: 1;
        visibility: visible;
      }
    }

    &-box {
      $width: 300px;
      transition: all .25s ease-in-out;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      z-index: $boxIndex;
      left: 50%;
      bottom: $boxOffset;
      width: $width;
      margin-left: -($width / 2);
      padding-bottom: $contentOffset;

      #{$b}:hover & {
        visibility: visible;
        opacity: 1;
      }
    }

    &-content {
      background-color: $colorWhite;
      border: 1px solid #e0e0e0;
      position: relative;
      z-index: $contentIndex;
      display: block;
      padding: 15px 21px;
      font-weight: 300;
      font-size: 16px;
      color: $colorBlack;
      text-align: left;
    }
  }

  &.active {
    
    #{$block}__header:before {
      transform: rotate(0deg);
    }
  }
}