.footer {
  $height: $footerHeight;
  border-top: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height + 1px;
  padding: 0 55px;
  font-weight: 400;

  a {
    @extend %link;
  }

  @include mediaCustom(750px) {
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    padding: 16.5px 16.5px;
    text-align: center;

    & > * {
      margin-top: 16.5px;
    }
  }

  @include mediaExtraSmall {

    .contacts {
      justify-content: space-around;
      align-content: space-around;
      flex-wrap: wrap;

      &:after {
        flex-basis: 100%;
        width: 0;
        height: 0;
        content: '';
        order: 2;
      }

      & > :first-child {
        width: 50%;
        margin-top: 0 !important;
        margin-bottom: 16.5px;
        order: 1;
      }

      & > :nth-child(2) {
        margin-left: 0;
      }

      & > :nth-child(n + 2) {
        order: 3;
      }
    }
  }

  &__text a {
    text-decoration: underline;
  }
}