.footer {
  $height: $footerHeight;
  border-top: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $height + 1px;
  padding: 0 55px;

  a {
    @extend .link--underline;
  }
}