.global {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: $headerHeight;

  &__header {
    background-color: $colorWhite;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
  }

  &__content {
    flex: auto;
  }

  .main & {
    padding-top: 0;

    &__header {
      background-color: transparent;
      position: static;
    }
  }
}