.header {
  $height: $headerHeight;
  display: flex;
  align-items: center;
  height: $height + 1px;
  padding: 0 25px;
  border-bottom: 1px solid #dadada;

  .main & {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: $height;
    border-bottom: none;
  }

  &__logo {
    align-self: stretch;
  }

  &__menu {
    margin-left: auto;
  }
}