.home-lead {
  $padding: $leadPadding;
  background-color: $bgLead;
  position: relative;
  height: 100vh;
  min-height: 320px;

  &__slider {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__contacts {
    position: absolute;
    z-index: 50;
    left: $padding;
    bottom: $padding;
  }
}