.home-slider {
  $block: nth(&, 1);
  $height: $homeSlideHeight;
  $padding: $leadPadding;
  position: relative;
  width: 100%;
  height: $height;
  overflow: hidden;

  &__slides {
    position: absolute;
    left: $containerPadding;
    bottom: 0;
    display: block;
    width: calc(100% - #{$containerPadding * 2});
    max-height: 100%;
    overflow: hidden;

    &:before {
      $overSize: 0.30;
      background-image: url('img/lead-bg.svg');
      background-position: center bottom;
      background-size: contain;
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -$overSize * 100%;
      display: block;
      width: 100%;
      height: (1 + $overSize) * 100%;
      content: '';
    }

    &-wrapper {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;

      @include media() {
        display: none;
      }
    }

    &-container {
      @extend %container;
      position: relative;
      height: 100%;

      @include mediaRetina {
        max-width: calc(125vh + #{$containerPadding * 2});
      }
    }

    &.next ~ #{$block}__effect,
    &.prev ~ #{$block}__effect {

      &:before {
        animation: home-slider-effect 1.25s ease-in-out forwards;
      }

      &:after {
        animation: home-slider-effect-over 1.25s ease-in-out forwards;
      }
    }
  }

  &__effect {
    position: absolute;
    z-index: 2;
    left: -50vw;
    top: 0;
    display: block;
    width: 200vw;
    height: 100vh;
    overflow: hidden;

    &:before, &:after {
      transform: translateY(100%);
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
    }

    &:before {
      background-color: $colorPink;
    }

    &:after {
      background-color: $colorWhite;
    }
  }

  &__slide {
    transition: all 0s .5s ease-in-out;
    background-position: center bottom;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  &__dots {
    position: absolute;
    z-index: 3;
    right: $padding;
    bottom: $padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 138px;

    @include media() {
      display: none;
    }
  }

  &__dot {
    $sizeSmall: 3px;
    $sizeMedium: 7px;
    $size: 11px;
    $scaleSmall: $sizeSmall / $size;
    $scaleMedium: $sizeMedium / $size;
    background-color: transparent;
    border: none;
    position: relative;
    display: block;
    width: $textHeight;
    height: $textHeight;
    padding: 0;

    &:before {
      transition: all .25s ease-in-out;
      transform: scale($scaleSmall, $scaleSmall);
      background-color: $colorBlack;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: $size;
      height: $size;
      margin-left: -$size / 2;
      margin-top: -$size / 2;
      content: '';
    }
    &:hover:before {
      transform: scale($scaleMedium, $scaleMedium);
    }
    &.active:before {
      transform: scale(1, 1);
    }
  }

  &__static {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    max-height: 100%;
    overflow: hidden;

    @include media() {
      display: block;
    }

    &-image {
      background-position: center bottom;
      background-size: contain;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: block;

      &.vertical {
        top: $headerHeight;
        background-size: cover;
      }
    }

    &:before {
      $overSize: 0.15;
      background-image: url('img/lead-bg.svg');
      background-position: center bottom;
      background-size: contain;
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -$overSize * 100%;
      display: block;
      width: 100%;
      height: (1 + $overSize) * 100%;
      content: '';
    }
  }

  @keyframes home-slider-effect {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  @keyframes home-slider-effect-over {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}