.home-page {
  padding-bottom: 120px;

  &__about {
    @extend %container, %container--width-small;
    margin-top: 66px;
  }

  &__courses {
    margin-top: 140px;

    @include media() {
      margin-top: 66px;
    }
  }

  &__responses {
    margin-top: 190px;

    @include media() {
      margin-top: 66px;
    }
  }

  &__news {
    @extend %container;
    margin-top: 190px;

    @include media() {
      margin-top: 66px;
    }
  }
}