@mixin image-viewing($viewing: image-viewing-simple, $duration: 1.5s) {
  position: relative;
  overflow: hidden;

  &:before, &:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }

  &:before {
    background-color: #f6f6f6;
    position: relative;
    visibility: visible;
  }

  &:after {
    background-color: $colorPinkLight;
    visibility: hidden;
  }

  .viewed &, &.viewed {

    &:before {
      animation: image-viewing-bg $duration ease-in-out forwards;
    }

    &:after {
      visibility: visible;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-duration: $duration;
      animation-name: $viewing;
    }
  }
}

@mixin image-viewing-name($name) {
  
  .viewed &, &.viewed {

    &:after {
      animation-name: $name;
    }
  }
}

@mixin image-viewing-color($effectColor, $bgColor: null) {
  
  &:after {
    background-color: $effectColor;
  }

  @if ($bgColor) {
    
    &:before {
      background-color: $bgColor;
    }
  }
}

@keyframes image-viewing-bg {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes image-viewing-simple {
  0% {
    visibility: visible;
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes image-viewing-horz {
  0% {
    transform: translate(-100%, calc(-100% + 20px));
    visibility: visible;
  }
  25% {
    transform: translate(0, calc(-100% + 20px));
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes image-viewing-horz-inverted {
  0% {
    transform: translate(100%, calc(-100% + 20px));
    visibility: visible;
  }
  25% {
    transform: translate(0, calc(-100% + 20px));
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes image-viewing-vert {
  0% {
    transform: translate(calc(100% - 20px), -100%);
    visibility: visible;
  }
  25% {
    transform: translate(calc(100% - 20px), 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes image-viewing-vert-inverted {
  0% {
    transform: translate(calc(-100% + 20px), -100%);
    visibility: visible;
  }
  25% {
    transform: translate(calc(-100% + 20px), 0);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}