.lead-slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__item {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.active {
      z-index: 2;
    }

    &:before, &:after {
      transform: translateX(-50%);
      background-position: center top;
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 0;
      display: block;
      width: 100%;
      max-width: 1300px;
      height: 100%;
      content: '';
    }

    &:before {
      background-image: url('img/lead-bg.svg');
    }
  }

  &:before, &:after {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }

  &:before {
    background-color: $colorBlack;
  }

  &:after {
    background-color: $bgLead;
  }

  &.changing {

    &:before {
      animation: lead-slider-changing 10s ease-in-out forwards;
    }

    &:after {
      animation: lead-slider-changing 10s ease-in-out forwards;
    }
  }

  @keyframes lead-slider-changing {

    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(-100%);
    }
  }
}