.lead-slider-dots {
  display: flex;
  flex-direction: column;

  &__item {
    $sizeSmall: 3px;
    $sizeMedium: 7px;
    $size: 11px;
    $scaleSmall: $sizeSmall / $size;
    $scaleMedium: $sizeMedium / $size;
    background-color: transparent;
    border: none;
    position: relative;
    display: block;
    width: $textHeight;
    height: $textHeight;
    padding: 0;
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }

    &:before {
      transition: all .25s ease-in-out;
      transform: scale($scaleSmall, $scaleSmall);
      background-color: $colorBlack;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: $size;
      height: $size;
      margin-left: -$size / 2;
      margin-top: -$size / 2;
      content: '';
    }
    &:hover:before {
      transform: scale($scaleMedium, $scaleMedium);
    }
    &.active:before {
      transform: scale(1, 1);
    }
  }
}