.link {
  $height: $fontSizeNormal * $lineHeight;
  $color: $colorBlack;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  color: inherit;

  &--underline {

    &:before {
      position: absolute;
      bottom: 2px;
      left: 0;
      display: block;
      width: 100%;
      border-top: 1px solid $color;
      content: '';
    }
  }

  &--icon {
    width: $height;
    height: $height;
    background-position: center center;
    font-size: 0; 

    &:before {
      display: none !important;
    }

    &-facebook {
      background-image: url('img/soc-facebook.png');
      background-size: 6px 12px;
    }

    &-vk {
      background-image: url('img/soc-vk.png');
      background-size: 16px 9px;
    }

    &-instagram {
      background-image: url('img/soc-instagram.png');
      background-size: 12px 12px;
    }
  }
}

a {
  @extend .link;
}