.menu-modal {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  font-size: 0;

  &:after {
    background-color: $colorWhite;
    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    opacity: 1;
  }

  &:before, &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    width: 1px;
    height: 100%;
    font-size: 0;
    content: '';
  }

  &__header {
    position: absolute;
    z-index: 110;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: $headerHeight + 1px;
    padding: 0 0 0 25px;
    border-bottom: 1px solid #dadada;
  }

  &__logo {
    align-self: stretch;
  }

  &__close {
    background-image: url('img/close-menu.png');
    background-position: center center;
    background-color: transparent;
    border: none;
    display: block;
    width: 86px;
    height: 100%;
    margin-left: auto;
  }

  &__content {
    position: relative;
    z-index: 120;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    $itemHeight: 41px;
    $lineHeight: 26px * $lineHeight;
    position: relative;
    display: inline-block;
    margin-top: 56px;
    font-family: $fontFamilyHeading;
    font-size: 26px;
    font-weight: 700;

    &:first-child {
      margin-top: 0;
    }

    &:before, &:after {
      $width: 100%;
      $height: 5px;
      $offset: ($itemHeight - $lineHeight) / 2 - 6px;
      position: absolute;
      bottom: $offset;
      display: block;
      width: $width;
      height: $height;
      content: '';
    }

    &:before {
      background-image: url('img/modal-splash.png');
      background-size: 100% 100%;
    }

    &:after {
      transition: all .25s ease-in-out;
      transform: scaleX(1);
      transform-origin: right center;
      background-color: #fff;

      .main & {
        background-color: $colorWhite;
      }
    }

    &:hover:after {
      transform: scaleX(0);
    }
  }

  &.active {
    display: block;
  }
}