* {
  &, &:before, &:after {
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  &:focus {
    outline: none;
  }
}

html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $fontFamilyNormal;
  font-size: $fontSizeNormal;
  line-height: $lineHeight;
  color: $colorBlack;
  font-weight: 300;

  &.fixed {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}