.responses-slider {
  $block: nth(&, 1);
  $sliderArrowWidthLarge: $arrowWidth + 60px;
  $mediaWidth: $containerWidth - $containerPadding * 2 + $sliderArrowWidthLarge * 2;
  position: relative;

  &__title {
    @extend %title, %title--large, %title--underline, %title--align-center;
    margin-bottom: 66px;
  }

  &__items {
    position: relative;
    display: block;
    overflow: hidden;

    &:before {
      background-color: $colorPink;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      visibility: hidden;
    }

    &-wrapper {
      @extend %container;
      position: relative;
    }

    &.next, &.back {

      &:before {
        visibility: visible;
      }

      #{$block}__item {
        animation: responses-slider-item 1s ease-in-out forwards;

        &.leave {
          animation: responses-slider-item 1s ease-in-out forwards reverse;
        }
      }
    }

    &.next {
      
      & ~ #{$block}__arrows #{$block}__next {
        animation: arrow-next 1s ease-in-out;
      }

      &:before {
        animation: responses-slider-next 1s ease-in-out forwards;
        transform: translateX(100%);
      }
    }

    &.back {

      & ~ #{$block}__arrows #{$block}__prev {
        animation: arrow-prev 1s ease-in-out;
      }

      &:before {
        animation: responses-slider-prev 1s ease-in-out forwards;
        transform: translateX(-100%);
      }
    }
  }

  &__item {
    background-color: $colorWhite;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;

    & > * {
      flex-shrink: 0;
    }

    &.active {
      visibility: visible;
    }

    &.leave {
      visibility: visible;
    }
  }

  &__arrows {
    position: absolute;
    bottom: 0;
    left: $containerPadding;
    right: $containerPadding;

    @include mediaCustom($mediaWidth) {
      position: static;
      display: flex;
      justify-content: center;
      height: $sliderArrowHeight;
    }
  }

  &__prev, &__next {
    @extend %arrow;
    position: absolute;
    bottom: 0;
    display: block;
    height: $responsePreviewHeight;
    width: $sliderArrowWidthLarge;

    @include mediaCustom($mediaWidth) {
      background-position: center center !important;
      position: static;
      width: $sliderArrowWidth;
      height: 100%;
      margin: 0 !important;
    }
  }

  &__prev {
    @extend %arrow--prev;
    background-position: left center;
    left: 0;
    margin-left: -$sliderArrowWidthLarge;
  }

  &__next {
    @extend %arrow--next;
    background-position: right center;
    right: 0;
    margin-right: -$sliderArrowWidthLarge;
  }

  @keyframes responses-slider-prev {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes responses-slider-next {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes responses-slider-item {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}