.responses-slider {
  $block: nth(&, 1);
  position: relative;

  &__title {
    @extend %title, %title--large, %title--underline, %title--align-center;
    margin-bottom: 66px;
  }

  &__items-wrapper {
    @extend %container;
    position: relative;
  }

  &__items {
    position: relative;
    display: block;
    height: $responsePreviewHeight;
    overflow: hidden;

    &:before {
      background-color: $colorPink;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      visibility: hidden;
    }

    &.next,
    &.back {

      &:before {
        visibility: visible;
      }

      #{$block}__item {
        animation: responses-slider-item 1s ease-in-out forwards;

        &.leave {
          animation: responses-slider-item 1s ease-in-out forwards reverse;
        }
      }
    }

    &.next:before {
      animation: responses-slider-next 1s ease-in-out forwards;
      transform: translateX(100%);
      
    }

    &.back:before {
      animation: responses-slider-prev 1s ease-in-out forwards;
      transform: translateX(-100%);
    }
  }

  &__item {
    background-color: $colorWhite;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    visibility: hidden;

    .response-preview {
      height: 100%;
    }

    &.active {
      visibility: visible;
    }

    &.leave {
      visibility: visible;
    }
  }

  &__prev,
  &__next {
    @extend %arrow;
    position: absolute;
    bottom: 0;
    display: block;
    height: $responsePreviewHeight;
    width: $arrowWidth + 60px;
  }

  &__prev {
    @extend %arrow--prev;
    background-position: left center;
    left: $containerPadding;
    margin-left: -($arrowWidth + 60px);
  }

  &__next {
    @extend %arrow--next;
    background-position: right center;
    right: $containerPadding;
    margin-right: -($arrowWidth + 60px);
  }

  @keyframes responses-slider-prev {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes responses-slider-next {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes responses-slider-item {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @include media {

    &__items-wrapper {
      text-align: center;
    }

    &__items {
      height: 500px;
    }

    &__prev,
    &__next {
      background-position: 50%;
      position: static;
      display: inline-block;
      vertical-align: middle;
      height: 102px;
      margin: 0;
      width: $arrowWidth + 22px;
    }
  }
}