$fontFamilyNormal: "Lato", sans-serif;
$fontFamilyHeading: "Comfortaa", sans-serif;

$headerHeight: 70px;

$fontSizeExtraSmall: 11px;
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;

$lineHeight: 1.5;

$colorBlack: #343434;